#top{
    font-size: 30px;
    color:blue;
    font-weight: bold;
    text-align: center;
    border: 3px solid white;
}
td{
    width: 100px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
#tname{
    color: white;
    font-weight: bold;
    background: orange;
    text-align: center;
}
#sunday{
    background: red;
    border: 3px solid white;
}
#sat{
    background: blue;
    border: 3px solid white;
}
sub{
    font-size: 12px;
    color: black;
}
.day{
    font-weight: normal;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
}
#onlysun{
    font-weight: normal;
    color: red;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
}
.sunday{
    color: red;
}
#onlysat{
    font-weight: normal;
    color: blue;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
}
#ndsat{
    color:blue;
    border: 3px solid lightgray;
}
td{
    border: 3px solid lightgray;
}
table{
    border-collapse: collapse;
}
.whitecolor{
    border: 3px solid white;
}